.titulo{
    text-align:center;
    font-family: 'Courier New';
    color:#9de0ff ;
}
.imagem{
    display: block;
    margin: auto;
}
.subtitulo{
    text-align: center;
    font-family: 'Courier New';
    color:#9de0ff;
}
.subtitulo p{
    font-size:25px ;
    color: #35fda0;
}
.resumo{
    font-style: italic;
}
.sobreastro{
    display: block;
    margin: auto;
}
.sobreastro{
    width: 720px;
    padding: 120px;
}
.imagem{
    width: 720px;
    padding: 150px;
}
body,html{
    background:linear-gradient(190deg,#aaaade,#2d93e6,#19025e,#00ffa6,#00a169c1) ;
}
ul{
    color: #35fda0;
    font-size: 25px;
}
.sobreastronomia p{
    color: #00ffb7;
    font-size:25px  ;
    padding: 30px;
}
.cabecalho-lista a{
    color: rgb(0, 216, 191);
}
